/**********************************/
/** variables **/
/**********************************/

:root {
  --unnamed-color-fafafa: #fafafa;
  --unnamed-color-0c0c0c: #0c0c0c;
  --unnamed-color-404040: #404040;
  --unnamed-color-8c8c8c: #8c8c8c;
  --unnamed-color-d8d8d8: #d8d8d8;
  --unnamed-color-ffffff: #ffffff;
  --application-color: #ff000080;
  --discussion-color: #ff0000;
  --waiting-assoc-color: #ffc000;
  --waiting-manager-color: #ffc00080;
  --progress-color: #92d050;
  --user-has-participated-color: #00b050;
  --cancelled-color: #d8d8d8;
  --yellow-dark-color: #ffd400;
  --yellow-light-color: #ffd40080;
}
