/**********************************/
/** variables **/
/**********************************/

:root {
  --unnamed-color-fafafa: #fafafa;
  --unnamed-color-0c0c0c: #0c0c0c;
  --unnamed-color-ffffff: #ffffff;
}
