.pagination {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
.page-item {
  margin: 10px;
}
.page-item button {
  cursor: pointer;
  background-color: var(--yellow-light-color);
  border: 1px solid var(--yellow-dark-color);
  border-radius: 5px;
  padding: 7px;
  color: var(--unnamed-color-404040);
}
.page-item.active button {
  background-color: var(--yellow-dark-color);
}
.disabled {
  display: none;
}
