<div class="global-title">Les volontaires</div>
<div class="global-subtitle">
  <img class="icon" src="/assets/icons/point.png" alt="point" />
  Retrouvez la liste de toutes les inscriptions à vos missions
</div>
<div class="list">
  <div class="list-now">En ce moment</div>
  <div class="nb-inscription">
    <span style="font-size: 40px">{{ numberWishes }}</span> inscriptions
  </div>
  <div class="bar">
    <div
      class="application"
      [style.width.%]="(application?.count * 100) / numberWishes"
    >
      <span class="tooltip-app">Candidature</span>
    </div>
    <div
      class="discussion"
      [style.width.%]="(discussion?.count * 100) / numberWishes"
    >
      <span class="tooltip-disc">Echange</span>
    </div>
    <div
      class="waiting_association_validation"
      [style.width.%]="
        (waiting_association_validation?.count * 100) / numberWishes
      "
    >
      <span class="tooltip-assoc">Date à valider</span>
    </div>
    <div
      class="waiting_manager_validation"
      [style.width.%]="(waiting_manager_validation?.count * 100) / numberWishes"
    >
      <span class="tooltip-manager">En attente du manager</span>
    </div>
    <div
      class="in_progress"
      [style.width.%]="(in_progress?.count * 100) / numberWishes"
    >
      <span class="tooltip-progress">En cours</span>
    </div>
  </div>

  <div class="list-subtitle">
    Suivez les inscriptions en fonction de leur statut :
  </div>
  <div class="buttons">
    <div
      class="status-btn"
      *ngIf="application?.count > 0"
      (click)="getWishByFilter('application')"
    >
      <div>
        <div class="circle" id="application">
          <div class="status-txt">Candidature</div>
        </div>
      </div>
      <div class="count">{{ application.count }}</div>
    </div>

    <div
      class="status-btn"
      *ngIf="discussion?.count > 0"
      (click)="getWishByFilter('discussion')"
    >
      <div>
        <div class="circle" id="discussion">
          <div class="status-txt">Echange</div>
        </div>
      </div>
      <div class="count">{{ discussion.count }}</div>
    </div>

    <div
      class="status-btn"
      *ngIf="waiting_association_validation?.count > 0"
      (click)="getWishByFilter('waiting_association_validation')"
    >
      <div>
        <div class="circle" id="waiting_association_validation">
          <div class="status-txt">Date à valider</div>
        </div>
      </div>
      <div class="count">{{ waiting_association_validation.count }}</div>
    </div>
    <div
      class="status-btn"
      *ngIf="waiting_manager_validation?.count > 0"
      (click)="getWishByFilter('waiting_manager_validation')"
    >
      <div>
        <div class="circle" id="waiting_manager_validation">
          <div class="status-txt">En attente du manager</div>
        </div>
      </div>
      <div class="count">{{ waiting_manager_validation.count }}</div>
    </div>

    <div
      class="status-btn"
      *ngIf="in_progress?.count > 0"
      (click)="getWishByFilter('in_progress')"
    >
      <div>
        <div class="circle" id="in_progress">
          <div class="status-txt">En cours</div>
        </div>
      </div>
      <div class="count">{{ in_progress.count }}</div>
    </div>
  </div>
  <div class="list-title">La liste de vos volontaires</div>
  <div *ngFor="let wish of wishes">
    <app-volunteer [wish]="wish"></app-volunteer>
  </div>
</div>
