<div class="global-title">Les volontaires</div>
<div class="global-subtitle">
  Retrouvez la liste de toutes les inscriptions à vos missions
</div>
<div class="list">
  <div class="list-now">En ce moment</div>
  <div class="nb-inscription">25 inscriptions</div>
  <div class="bar">bar TODO</div>
  <div class="list-subtitle">
    Suivez les inscriptions en fonction de leur statut :
  </div>
  TODO buttons
  <div class="list-title">La liste de vos volontaires</div>
  todo foreach:
  <app-volunteer></app-volunteer>
</div>
