.list {
  background-color: var(--unnamed-color-ffffff);
  border-radius: 25px;
  padding: 20px;
}
.list-title {
  padding-top: 40px;
}
.nb-inscription {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}
.list-now {
  font-size: 24px;
  margin: 10px 0;
}
.list-subtitle {
  margin-top: 40px;
  font-size: 16px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.status-btn {
  width: 160px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-d8d8d8);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  justify-content: space-between;
  display: flex;
  margin: 15px;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
}

.count {
  font-size: 16px;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.bar {
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background-color: var(--unnamed-color-ffffff);
}

.application {
  height: 100%;
  background-color: var(--application-color);
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.discussion {
  height: 100%;
  background-color: var(--discussion-color);
  float: left;
}
.waiting_association_validation {
  height: 100%;
  background-color: var(--waiting-assoc-color);
  float: left;
}
.waiting_manager_validation {
  height: 100%;
  background-color: var(--waiting-manager-color);
  float: left;
}
.in_progress {
  height: 100%;
  background-color: var(--progress-color);
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tooltip-app,
.tooltip-disc,
.tooltip-assoc,
.tooltip-manager,
.tooltip-progress {
  visibility: hidden;
  width: 120px;
  background-color: var(--unnamed-color-d8d8d8);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  margin-top: 23px;
}

.application:hover .tooltip-app {
  visibility: visible;
}
.discussion:hover .tooltip-disc {
  visibility: visible;
}
.waiting_association_validation:hover .tooltip-assoc {
  visibility: visible;
}
.waiting_manager_validation:hover .tooltip-manager {
  visibility: visible;
}
.in_progress:hover .tooltip-progress {
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .buttons {
    display: block;
  }
  .list-title {
    padding-top: 20px;
  }
}
