/* You can add global styles to this file, and also import other style files */
@import "assets/css/variables.css";
@font-face {
  font-family: "HarmoniaSans";
  src: local("HarmoniaSans"),
    url(./assets/fonts/HarmoniaSans/HarmoniaSansProCyr-Regular.ttf)
      format("truetype");
}
body {
  background: linear-gradient(
    175deg,
    var(--yellow-dark-color),
    var(--yellow-light-color) 15%,
    var(--unnamed-color-fafafa) 15%,
    var(--unnamed-color-fafafa)
  );
}
html,
body {
  padding: 40px;
  color: var(--unnamed-color-0c0c0c);
  font-family: "HarmoniaSans", Arial, Helvetica, sans-serif;
}

.global-title {
  font-size: 36px;
  padding-bottom: 40px;
}
.global-subtitle {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

#application {
  background-color: var(--application-color);
}
#discussion {
  background-color: var(--discussion-color);
}
#waiting_association_validation {
  background-color: var(--waiting-assoc-color);
}
#waiting_manager_validation {
  background-color: var(--waiting-manager-color);
}
#in_progress {
  background-color: var(--progress-color);
}
#user_has_participated {
  background-color: var(--user-has-participated-color);
}
#cancelled {
  background-color: var(--cancelled-color);
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.status-txt {
  margin-left: 30px;
  font-size: 12px;
  width: 110px;
  margin-top: 3px;
}
@media screen and (max-width: 600px) {
  body {
    padding: 0px;
  }
}
